{# Extende o template base.html, que define a estrutura principal do layout do site #}
{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <ul class="list-group">
        <p><h1>Tópicos: </h1><hr></p>

        {# Este ciclo itera sobre a topics list que é passada pela view #}
        {% for topic in topics_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5>{{ topic.title }}</h5>
                <p class="test_criar_topico">{{ topic.description }}</p>
                <div>
                    {# Links para as respetivas páginas associadas aos botões #}
                    <a href="{% url 'topic_detail' topic.id %}" class="btn btn-secondary">Ver Detalhes</a>

                    {# Mostra os botões se o tópico for criado pelo autor #}
                    {% if request.user == topic.author %}
                        <a href="{% url 'topic_update' topic.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'topic_delete' topic.id %}" class="btn btn-danger">Apagar</a>
                    {% endif %}
                </div>    
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">Não existem tópicos disponíveis.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
