{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <ul class="list-group">
        {% for topic in topics_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5>{{ topic.title }}</h5>
                <p>{{ topic.description }}</p>
                <div>
                    <a href="{% url 'topic_update' topic.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'topic_delete' topic.id %}" class="btn btn-danger">Apagar</a>
                    <a href="{% url 'topic_detail' topic.id %}" class="btn btn-secondary">Ver Detalhes</a>
                </div>    
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">Não existem tópicos disponíveis.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
